html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-image: linear-gradient(#ffd5b0, #f79c4c);
    background-size: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    font:menu;
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

    /* Basic CSS for the form elements */
    body {
        font-family: Arial, sans-serif;
        /* margin: 20px; */
      }
      
      h1 {
        margin-bottom: 20px;
      }
      
      div {
        margin-bottom: 10px;
      }
      
      label {
        display: inline-block;
        width: 100px;
      }
      
      input[type="text"],
      input[type="number"],
      select {
        width: 240px;
        padding: 10px;
        border-radius: 10px;
        border: none;
      }

      select:active {
        border: none;
      }
      
      button {
        padding: 7px 15px;
        background-color: #fc9e4c;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px
      }
      
      button:hover {
        background-color: #ff8d2a;
      }
      
      /* Basic CSS for the report section */
      h2 {
        margin-top: 30px;
      }

      .icon-bar {
        width: 34px; /* Set a specific width */
        background-color: #fcd0aa; /* Dark-grey background */
      }
      
      .icon-bar a {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 5px; /* Add some padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: #fc9e4c; /* White text color */
        font-size: 24px; /* Increased font-size */
      }
      
      .icon-bar a:hover {
        background-color: #f9eadc; /* Add a hover color */
      }