html { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Basic CSS for the navigation bar */

*{
    margin: 0px 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: "monaco", "verdana", "arial";
}

.nav {
    position: relative;
    overflow: hidden;
}

.nav a {
    float: left;
    text-align: center;
    padding: 20px;
    font-size: 14pt;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.nav a:hover {
    color:#d7721a;
  }

.nav-centered a {
    float: none;
    position: absolute;
    font-weight: bolder;
    font-size: 24pt;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-right {
    float: right;
    top: 50%;
    transform: translatey(50%);
    color:white;
}

.search-container {
    background:rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width:520px;
    float:right;
    font-size: 14pt;
}

input[type="text"], input[type="text"], textarea, select {
    width: 320px;
    padding: 10px;
    border-radius: -15px;
    border: none;
    color: white;
    background: none;
    font-size: 14pt;
}

input:focus, textarea:focus {
    outline: none;
    color: rgb(0, 0, 0);
  }  

button {
    background-color:#fc9e4c;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 14pt;
}

button:hover {
    background-color: #d7721a;
}

.icon-bar {
    width: 46px; /* Set a specific width */
    background-color: none; /* Dark-grey background */
    position: absolute;
    transform: translate(-10px, 60px);
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 5px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #fc9e4c; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    color: #d7721a; /* Add a hover color */
}

.Large {
    font-size: 60pt;
    font-weight:bolder;
    color: white;
    position: absolute;
    transform: translate(150px, 0px);
    padding: 10px;
}

.Small {
    font-size: 14pt;
    color: white;
    position: absolute;
    transform: translate(150px, 340px);
    background: #796b8080;
    padding: 10px;
    width: 1000px;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 1000px; /* Set full-width to expand the whole page */
    position: absolute;
    transform: translate(150px, 0px);
    color:white;
    background:#796b8080;
    text-align: center;
    padding: 10px;
}
  
.col-container p {
    font-size: 14pt;
    font-weight: bold;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

form {
    height:400px;
    width:600px;
    transform:translate(150px,150px);
    color:white;
    background:#796b8080;
    padding:20px;
}

form button:hover {
    background-color: #4a2f57;
}
